<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
         <link rel="stylesheet" href="style.css" />
        <title>PATIENTBOOK - Formulaire<</title>
    </head>
    
<div id="container">
    <body>
        <header>
                	<h1> Game of Thrones </h1>
        </header>
        <nav>
            <ul>
                <li><a href="index.html"> Index</a></li>
                <li><a href="petyr.html">Petyr</a></li>
                <li><a href="jon.html">Jon</a></li>
                <li><a href="daen.html">Daenerys</a></li>
            </ul>
        </nav>
        
        <section>
            <aside>
            </aside>
            <form method="get" action="traitement.php">
   				<p><label>Le nom </label> : <input type="text" name="nom" /></p>
   				<p><label>L'age</label> :<input type="text" name="age" /></p>
   				<p><label>La photo </label> :<input type="file" name="photo" /></p>
   				
   				<input type="submit" value="Envoyer" />
			</form>
		</section>

		<footer>
            <p>Copyright RM&A - 2018<br />
        </footer>
        
    </body>
</div>
</html>